@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background-color: #111111;
    color: #ffffff;
    font-family: 'Poppins';
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* ----------------------------------Header------------------------------------------ */

.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.navbar{
    position: fixed;
    background-color: #111111;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.name{
    font-size: 20px;
    margin-left: 100px;
    color: #ffffff;
}

.name span{
    font-size: 30px;
    color: #FF3343;
}

.list-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 800px;
    margin-right: 100px;
}

.list-item{
    list-style: none;
    font-size: 15px;
    margin: 20px;
    color: #ffffff;
    
}

.list-item a{
    text-decoration: none;
    color: #ffffff;
}

.intro{
    margin-top: 150px;
}

.intro-bg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.col-left{
    margin: 0 50px;
}

.icons{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon:hover{
    transition-duration: 0.5s;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #4d4d4d86;
}

.col-right{
    /* background: #1e1e1e21; */
    margin-left: 100px;
}

.me{
    margin-top: 15px;
    width: 560px;
}

/* ----------------------------------Cards------------------------------------------ */

.projects{
    background-image: linear-gradient(to right bottom, #181818 0%, #181818 20%, #111111 20%, #111111 40%, #181818 40%, #181818 60%, #111111 60%, #111111 80%, #181818 80%, #181818 100%);
    background-size: cover;   
}

.title{
    background-color: #FF3343;
    clip-path: polygon(35% 0, 65% 0, 59% 50%, 65% 100%, 35% 100%, 40% 50%);
    margin-top: 35px;
    margin-bottom: 35px;
}

.title h1{
    padding: 20px 0px;
    text-align: center;
    color: #ffffff;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 35px;
    width: 400px;
    background-color: #1E1E1E;
}

.card:hover{
    background: linear-gradient(to bottom, #FF3343 0%, #FF3343 15%, #1E1E1E 15%, #1E1E1E 100%);
    transition-duration: 1s;
}

.project-title{
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
    margin: 15px 0px;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0px 5px 15px 0px;
}

.skills p{
    font-size: 15px;
    color: #ffffff;
    margin: 0px 5px 15px 0px;
}

.project-image{
    height: 200px;
    width: 370px;
}

.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.git{
    height: 40px;
    width: 200px;
    border-style: none;
    background-color: rgba(22, 22, 22, 0.552);
    font-size: 15px;
    color: #ffffff;
    border-radius: 0px 0px 0px 3px;
}

.git:hover{
    background-color: #FF3343;
    transition-duration: 0.5s;
}

.project-link{
    height: 40px;
    width: 200px;
    border-style: none;
    background-color: rgba(22, 22, 22, 0.552);
    font-size: 15px;
    color: #ffffff;
    border-radius: 0px 0px 3px 0px;
}

.project-link:hover{
    background-color: #FF3343;
    transition-duration: 0.5s;
}



